body {
    font-family: 'Proza Libre', sans-serif;
    background-color: rgb(141, 43, 43);
    margin: 20%;
    padding-top: 145px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
   }

.h3-white {
  color: white;
}

.navbar {
	  align-items: right;
    width: 100%;
    }

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
.container {
   display: flex;
   justify-content: center;
  padding-top: 0px;
   padding-right: 0px;
   padding-left: 15px;
   margin: auto;
   height: auto;
   margin-left: 0px;
   }
.col {
    border-color:black 100px;
    background-color: rgb(218, 216, 216);
    margin: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
    justify-content: center;
  }

.form-label {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-color: #ccc;
    background-color: rgb(90, 124, 62);
    font-weight: 600;
    color: white;
    width: auto;
  }

.blogiDivit {
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    color: white;
    text-align: justify;
  }

.responsiveImg {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

.btn {
	  display: inline-block;
	  padding: 6px 12px;
	  margin-bottom: 0;
	  font-size: 14px;
	  font-weight: 800;
	  /*line: height 1.5;;*/
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	  touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-image: none;
	  border: 1px solid transparent;
	  border-radius: 100%;
  }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	  outline: thin dotted;
	  outline: 5px auto -webkit-focus-ring-color;
	  outline-offset: -2px
  }

.btn:hover,
.btn:focus,
.btn.focus {
	  color: #333;
	  text-decoration: none
  }

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}


.btn-default {
	  color: rgb(241, 235, 235);
	  background-color: rgb(141, 43, 43);
	  border-color: #ccc
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
  }

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
	  background-image: none
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(15, 14, 14, 0.705);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

 @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
 @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}